- pages_count = (sorted_articles.size - 1) / @config[:page_size] + 1
- posts = sorted_articles.slice(@item_id*@config[:page_size], @config[:page_size])
- posts.each do |post| 
	= render '/include/post_excerpt.*', post: post

%nav.navigation.pagination
	%h2.screen-reader-text Navigation
	.nav-links
		- if @item_id >= 1
			- prev_link = @item_id > 1 ? "/blog/page#{@item_id}/" : "/"
			%a.prev.page-numbers{href: prev_link} Previous page

		-(0..pages_count-1).each_with_index do |page_index|
			-page_link = page_index > 0 ? "/blog/page#{page_index+1}/" : "/"
			-if page_index == @item_id
				%span.page-numbers.current
					%span.meta-nav.screen-reader-text Page
					= page_index + 1
			-else
				%a.page-numbers{href: page_link}
					%span.meta-nav.screen-reader-text Page
					= page_index + 1

		- if @item_id < pages_count - 1
			%a.next.page-numbers{href: "/blog/page#{@item_id + 2}/"} Next page

