!!! 5
%html.no-js(lang="en")
	%head
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%meta(name="viewport" content="width=device-width")
		%title= @item[:title]

		= render "/include/meta.*"
		= render "/include/favicon.*"
		= render "/include/opengraph.*"
		= render "/include/twitter_card.*"
		%link{rel: "alternate", type: "application/atom+xml", href: @item[:feed]}
		%link(rel="stylesheet" type="text/css" href="/css/all.css")
		/[if lt IE 9]> <script src="/css/twentyfifteen/js/html5.js"></script>
		/[if lt IE 9]> <link rel="stylesheet" type="text/css" href="/css/twentyfifteen/css/ie.css">
		:javascript
			(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);
		
		%link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all')
		- for style in @item.fetch(:styles, [])
			%link{rel:'stylesheet', href: style, type: 'text/css', media: 'all'}
	
	- id = @item.path[1..-2].gsub('/', '--')
	%body{class: [@item[:body_classes], "id-#{id}"]}
		#page.site
			%a.skip-link.screen-reader-text(href="#content") Skip to content
			#sidebar.sidebar
				%header#masthead.site-header(role="banner")
					.site-branding
						%h1.site-title
							%a(href="/" rel="home")= @config[:site_title]
						-if @config[:site_subtitle]
							%p.site-description= @config[:site_subtitle]
						%button.secondary-toggle Menu

				#secondary.secondary
					%nav#site-navigation.main-navigation(role="navigation")
						= render "/include/menu.*"
										
					%nav#social-navigation.social-navigation(role="navigation")
						%div
							%ul.menu
								- @config[:social_links].each do |link|
									%li.menu-item
										%a{href: link[:url], class: [link[:class]]}
											%span.screen-reader-text= link[:alt]

					.widget-area(role="complementary")
						%aside.widget
							%form.search-form#search-form(role="search" method="get")
								%label
									%span.screen-reader-text Search for:
									%input.search-field(type="search" placeholder="Search …" value="" name="s" title="Search for:" disabled)
								%input.search-submit.screen-reader-text(type="submit" value="Search" disabled)

			#content.site-content
				#primary.content-area
					%main#main.site-main(role="main")
						= yield

			%footer#colophon.site-footer(role="contentinfo")

		= render "/include/ga.*"
		:javascript
			var screenReaderText = {
				"expand":"<span class=\"screen-reader-text\">Expand all<\/span>",
				"collapse":"<span class=\"screen-reader-text\">Collapse all<\/span>"
			};
		%script{type: 'text/javascript', async: !@item[:scripts], src: '/js/all.js'}
		%script{type: 'text/javascript', async: !@item[:scripts], src: '/js/search.js'}
		- for script in @item.fetch(:scripts, [])
			%script{type: 'text/javascript', src: script}
