- format = @item[:link] ? "format-link" : "format-standard"
%article{class: ["post", "hentry", format, [@item[:header_image] && "has-post-thumbnail"]]}
	-if @item[:header_image]
		.post-thumbnail
			%img.attachment-post-thumbnail{src: @item[:header_image]}

	%header.entry-header
		%h1.entry-title
			-if @item[:link]
				%a{href: @item[:link]}= @item[:title]
			-else
				= @item[:title]

	.entry-content
		:preserve
			#{yield}

	= render "/include/author_info.*"

	%footer.entry-footer
		%span.posted-on
			%span.screen-reader-text<
				Posted on
			%a{href: @item.path, rel: "bookmark"}
				- created_at = @item[:created_at].is_a?(String) ? Date.parse(@item[:created_at]) : @item[:created_at]
				%time.entry-date.published{datetime: created_at.strftime("%FT%T%:z")}= created_at.strftime("%B %d, %Y")
		-#%span.byline
			%span.author.vcard
				%span.screen-reader-text Author
				%a.url.fn.n(href="/")= @config[:author_name]
		-# %span.cat-links
			%span.screen-reader-text Categories
			= category_links(@item)
		%span.tags-links
			%span.screen-reader-text Tags
			= tag_links(@item)

#comments.comments-area
	= render "/include/disqus.*"
